/*------------------------------------------------------------------
[My Configs]
*/

.gradient-bg {
    background-image:-moz-linear-gradient(top, #000 49.7%,#ccc 50%,#f6f7f8 50%);
    background-image:linear-gradient(top, #000 49.7%, #ccc 50%,#f6f7f8 50%);
    background-image:-webkit-linear-gradient(top, #000 49.7%, #ccc 50%,#f6f7f8 50%);
    background-image:-o-linear-gradient(top, #000 49.7%, #ccc 50%,#f6f7f8 50%);
    background-image:-ms-linear-gradient(top, #000 49.7%, #ccc 50%,#f6f7f8 50%);
}

.login-logo {
    position:absolute;
    left:0;
    right:0;
    text-align:center;
    top:50px;
}
@media screen and (max-width: 768px) {
    .login-logo {
        top:15px;
    }
    .login-logo img {
        max-width:90%;
        height:auto;
    }
}
.login-centered {
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.system {
    font-size:28px;
    font-family:'Open Sans';
    color:#f6f7f8;
    text-transform:uppercase;
    margin-bottom:15px;
}
.system .fa {
    color: #f6f7f8;
}
.login-ad {
    position:absolute;
    left:0;
    right:0;
    bottom:50px;
    text-align:center;
}
.login-form, .login-recovery {
    background-color:#e5e9ec;
    padding:30px;
    border-radius:15px;
    width:400px;
    z-index:1;
}
@media screen and (max-width: 768px) {
    .login-form, .login-recovery {
        max-width:90%;
    }
}
.forgot {
    color:#2b6697;
}
.forgot:hover {
    color:#1a5586;
}

.btn-login {
    color: #FFFFFF;
    background-color: #3373b0;
    border-color: #3373b0;
    min-width:200px;
    height:48px;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active {
    color: #FFFFFF;
    background-color: #3373f0;
    border-color: #3373b0;
}

.btn-login:active,
.btn-login.active {
    background-image: none;
}

.alert ul {
    list-style:none;
    padding-left:0;
}
.nowrap {
    white-space:nowrap;
}

.paddings .col-xs-6:first-child {
    padding-right:7.5px !important;
}

.paddings .col-xs-6:last-child {
    padding-left:0 !important;
}
.checkbox label {
    margin-right:0;
}