@charset "UTF-8";
.dash-info {
    height: 32px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.single-line {
    font-size: 22px;
}

.single-table tr {
    height: 38px;
    overflow: hidden;
}

.table td {
    vertical-align: middle !important;
}

.btn-delete button {
    line-height: 25px;
    color: #2a2e36;
    margin: 4px;
    border-radius: 3px;
    text-align: left;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    font-size: 13px;
    font-family: arial;
    width: 100%;
}

.btn-delete button:hover {
    background-color: #EEDDDD;
    color: #D31F0D;
}

.btn-delete form {
    margin-right: 8px;
}

.required:after {
    content: "∗";
    color: #f35958;
    margin-left: 3px;
}

.noty_text a {
    text-decoration: underline;
    color: #222;
}

.pages .pagination {
    margin: 10px 0 0 0;
}

.pages .results {
    font-size: 12px;
}

.datepicker {
    z-index: 1151 !important;
    right: initial !important;
}

.datepicker::before {
    right: initial !important;
}

.multi {
    width: 100%;
}

.top-center {
    left: 0;
    right: 0;
}

.text-module {
    color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.config .tiles:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.config .tiles:hover .text-module {
    color: #444;
}

.switchery {
    height: 20px;
    width: 40px;
}

.switchery small {
    height: 20px;
    width: 20px;
}

.filters {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    border: 1px solid #E5E9EC;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.filters input:focus {
    background-color: #fdfdfd !important;
}

.filters h5 {
    margin-top: 0;
}

.filters .btn-cons {
    margin-bottom: 0;
    margin-right: 0;
}

.btn-filter {
    background-color: white !important;
}

.btn-filter:hover {
    background-color: #fcfcfc !important;
    cursor: default;
}

.input-append .add-on-sm {
    height: 36px;
    padding: 6px 7px;
    min-width: 30px;
    margin-left: -30px;
}

.addon-sm {
    min-width: 40px;
}

.select2-container-multi .select2-choices {
    border: 1px solid #e5e9ec;
}

.select2-container-multi .select2-choices input {
    margin: 0 !important;
    min-height: 35px !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    margin: 6px !important;
}

.aligner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 100%;
}

.user-options li a {
    font-size: inherit !important;
    display: block !important;
    float: none !important;
    color: #2a2e36 !important;
}

.user-options::before {
    position: absolute;
    top: -7px;
    right: calc(50% - 9px);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    content: '';
}

.user-options::after {
    position: absolute;
    top: -6px;
    right: calc(50% - 8px);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.module-options {
    left: inherit;
    right: -20px;
    min-width: 140px;
    margin: 0;
}

.module-options::before {
    right: calc(50% - 9px);
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.module-options::after {
    position: absolute;
    top: -6px;
    right: calc(50% - 8px);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.portal-options {
    margin-top: 7px !important;
}

.portal-options::before {
    right: initial;
    left: 2px;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.portal-options::after {
    position: absolute;
    top: -6px;
    left: 2px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid white;
    border-left: 7px solid transparent;
    content: '';
}

table .checkbox label {
    vertical-align: middle;
    margin-bottom: 0;
}

.label-after::after {
    font-family: 'FontAwesome';
    content: "\F00C";
}

.inline-block {
    display: inline-block;
}

.input-group-addon {
    font-size: 13px;
    padding: 6px 0 6px 10px !important;
}

.input-group-addon+.form-control {
    padding-left: 5px !important;
}

.check-modules {
    margin-bottom: 10px;
}

.check-modules label {
    padding-left: 25px !important;
}

.support-select {
    min-height: 37px;
    border-radius: 0;
}

.support-select .select2-choices {
    height: 37px !important;
}

.m-t-0 {
    margin-top: 0;
}

.grid-title.descriptive p {
    width: initial;
}

.side-widget-title a {
    color: #0aa699;
}

.side-widget-title a:hover {
    color: #099a8c;
}

#terminal {
    background-color: white;
    width: 100%;
    padding: 15px;
}

.courier-new {
    font-family: 'Courier New' !important;
}

.m-b-5 {
    margin-bottom: 5px;
}

.btn-block-max {
    display: block;
    max-width: 100px;
}

.wizard-steps li {
    min-width: 20%;
    max-width: 20%;
}

select.input-sm {
    height: 30px !important;
}

.profile-portal-name {
    margin-top: 0;
    margin-bottom: 2px;
}

.capitalize {
    text-transform: capitalize;
}

.chart {
    min-width: 200px;
    min-height: 200px;
}

#flotTip {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;
    border-radius: 3px !important;
    border: 0 !important;
}

.invoice-body p {
    margin-bottom: 0;
}

.p-5 {
    padding: 5px;
}

.pieLabel {
    pointer-events: none;
}

#sortable .handle {
    cursor: move;
}

.printing {
    float: right;
}

.printing .btn {
    display: block;
}

.no-ls {
    letter-spacing: 0;
}

.grid-title h4 {
    width: initial;
}

.header-quick-nav {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.dropdown-menu {
    right: 0;
    left: initial;
}

.breadcrumb li {
    padding-left: 0;
}

.row-clickable td {
    padding: 0 !important;
}

.row-clickable td:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.row-clickable td:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.row-clickable a {
    display: block;
    color: #576475;
    padding: 10px 12px;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.bg-grey {
    background-color: #f6f7f8 !important;
}

.post {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0DFDF;
}

.post:last-child {
    border: 0;
}

.page-sidebar.mini {
    background-color: #1b1e24 !important;
}

.page-sidebar.mini .page-sidebar-wrapper>ul>li>a:hover,
.page-sidebar.mini .page-sidebar-wrapper>ul>li:hover>a {
    background: #666666;
}

.form-bg-gray {
    background-color: #f6f7f8;
    margin: 0 -26px;
    padding: 5px 26px;
}

.task-actions {
    vertical-align: top;
    margin-left: 15px;
    display: inline-block;
}

.task-actions .multi-level {
    right: -15px;
    top: 35px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 2px;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu>.dropdown-menu::before {
    display: none !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 7px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}

.p-no-margin p {
    margin: 0;
}

.w-auto {
    width: auto !important;
}

.clockpicker-popover {
    z-index: 1151;
}

.ticket-transfer {
    top: 50px;
}

.text-normal {
    color: #576475;
}

.label-success {
    background-color: #9FC54D;
}

.btn-cons:last-child {
    margin-right: 0;
}

.nowrap {
    white-space: nowrap;
}

.page-sidebar-wrapper li.divider {
    border-bottom: 1px solid #2c2d35 !important;
    width: 80%;
    margin: 0 auto !important;
}

@media screen and (max-width: 480px) {
    .table-flip-scroll {
        margin: 0 -26px;
        width: 100vw;
    }
    .table-flip-scroll thead {
        float: none;
        white-space: nowrap;
    }
    .table-flip-scroll thead th {
        display: inline-block;
    }
    .table-flip-scroll tbody {
        white-space: normal;
    }
    .table-flip-scroll tbody tr {
        width: 100%;
        border-left: 0;
    }
    .table-flip-scroll .dropdown-menu {
        top: -250%;
        left: 0px;
        margin-bottom: 5px;
    }
    .table-flip-scroll .dropdown-menu::after,
    .table-flip-scroll .dropdown-menu::before {
        display: none;
    }
    .grid.simple .grid-body.no-border {
        padding-bottom: 10px;
    }
}

.esc {
    display: block;
    font-size: 11px;
    margin-bottom: 3px;
}

.block {
    display: block !important;
}

.check-label {
    margin-bottom: 5px !important;
}

input.select2-search__field {
    min-height: 20px !important;
    padding: 3px !important;
}

.select2-results {
    margin: 3px !important;
}

.select2-container--default .select2-selection--multiple {
    border-color: #e5e9ec !important;
    border-radius: 2px !important;
}

.select2-dropdown {
    border-color: #e5e9ec !important;
    padding-left: 0 !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 2px !important;
    height: 37px;
    padding: 2px !important;
    border: 1px solid #e5e9ec;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 30px;
}

.quicklinks .select2-container--default .select2-selection--single {
    height: 33px !important;
}

.dropzone {
    min-height: 220px;
}

.photos {
    height: 150px;
    overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
    display: block;
    border: 3px solid transparent;
    transition: all 0.2s;
    border-radius: 3px;
}

.photos:hover {
    border: 3px solid #eee;
}

.photos img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    margin: auto;
}

.photos.active {
    border: 6px solid DodgerBlue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.grid-title h4 span.help {
    font-size: 12px;
}

.js-featured+label {
    font-size: 20px;
    margin-bottom: 0;
}

.js-video-output {
    margin-bottom: 25px;
}

.js-video-output h4 {
    margin-top: 0;
    font-size: 15px;
}

.js-video-output p {
    font-size: 11px;
    margin-bottom: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-l-0 {
    padding-left: 0;
}

.move {
    position: absolute;
    top: 0;
    padding: 1px 6px;
    margin: 3px;
    background-color: DodgerBlue;
    color: white;
    cursor: move;
}

.cke_dialog_ui_input_select option[value=anchor],
.cke_dialog_ui_input_select option[value=_top],
.cke_dialog_ui_input_select option[value=_parent],
#cke_65_uiElement,
#cke_target_153,
#cke_upload_160,
#cke_294_label,
#cke_100_label,
#cke_101_uiElement {
    display: none !important;
}

form.img-delete {
    position: absolute;
    top: 0;
    right: 15px;
}

form.img-delete button {
    padding: 0 5px;
    margin: 3px;
    background-color: crimson;
    color: white;
    cursor: not-allowed;
    border: 0;
}

span.select2,
.select2-search__field {
    display: none;
    width: 100% !important;
}

.js-portals .select2-selection {
    height: 42px;
    margin-bottom: 10px;
}

span.creditcard {
    display: block;
    width: 60px;
    height: 37px;
}

span.visa {
    background: url("../../img/creditcards.jpg") 0 0;
}

span.hipercard {
    background: url("../../img/creditcards.jpg") 0 -37px;
}

span.mastercard {
    background: url("../../img/creditcards.jpg") 0 -74px;
}

span.dinersclub {
    background: url("../../img/creditcards.jpg") 0 -111px;
}

span.redeshop {
    background: url("../../img/creditcards.jpg") 0 -148px;
}

span.bndes {
    background: url("../../img/creditcards.jpg") 0 -185px;
}

span.cielo {
    background: url("../../img/creditcards.jpg") 0 -222px;
}

span.santander {
    background: url("../../img/creditcards.jpg") 0 -259px;
}

span.boleto {
    background: url("../../img/creditcards.jpg") 0 -296px;
}

span.americanexpress {
    background: url("../../img/creditcards.jpg") 0 -333px;
}

span.cheque {
    background: url("../../img/creditcards.jpg") 0 -370px;
}

span.construcard {
    background: url("../../img/creditcards.jpg") 0 -407px;
}

.right-0 {
    right: 0;
}


/**
 * WORKING HOURS
 */

.working-hours {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.working-hours input {
    display: none;
}

.working-hours input:checked+label {
    border: 1px solid #93c94a;
    background: #9fcf5e;
    color: white;
}

.working-hours label {
    background: ghostwhite;
    font-family: 'Open Sans';
    font-size: 13px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #eee;
    width: 14.2857142%;
    height: 37px;
    text-align: center;
    margin: 0 2px;
    line-height: 37px;
}

.new-rule {
    height: 37px;
    background: white;
    border: 0;
    background: #fafafa;
    font-family: 'Open Sans';
    font-size: 13px;
    width: 37px;
    text-align: center;
    color: #005082;
    outline: none;
    border-radius: 50%;
}

.new-rule:hover {
    background: #e8f6ff;
}

.delete-rule {
    height: 37px;
    background: white;
    border: 0;
    background: rgba(255, 0, 0, 0.05);
    font-family: 'Open Sans';
    font-size: 13px;
    width: 37px;
    text-align: center;
    color: crimson;
    outline: none;
    border-radius: 50%;
}

.delete-rule:hover {
    background: #fde8ec;
}

.delete-button {
    display: inline-block;
    color: white;
    background: crimson;
    margin-left: 5px;
    padding: 0 5px;
}

.bull {
    color: royalblue;
    display: inline-block;
    margin-left: 15px;
}

.btn-destroy {
    border: 0;
    line-height: 37px;
    border-radius: 50%;
    background-color: rgba(220, 20, 60, 0.1);
    width: 37px;
}

.btn-destroy i {
    color: crimson;
}

.btn-destroy:hover {
    background-color: rgba(220, 20, 60, 0.2);
}

.btn-create {
    border: 0;
    line-height: 37px;
    border-radius: 50%;
    background: #fafafa;
    color: #005082;
    width: 37px;
}

.btn-create:hover {
    background: #e8f6ff;
}

.category-group {
    padding-left: 15px;
    margin: 15px 0;
}

h3 span.help {
    font-size: 12px;
    color: #888;
}

.js-featured:checked+label {
    color: goldenrod;
}

.top-right {
    position: absolute;
    top: -10px;
    right: 5px;
}

.red-hover:hover {
    color: crimson;
}

.cog {
    display: inline-block;
    margin-top: 9px;
    margin-left: 20px;
}

.cog i {
    font-size: 18px;
    color: #4c5264;
}

.js-quote {
    border: 1px solid #ddd;
    padding: 0 10px 10px;
}


/*------------------------------------------------------------------
[Pagination]
*/

ul.pagination {
    box-shadow: none;
    font-size: 12px;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    padding-left: 0;
}

ul.pagination li a,
ul.pagination li span {
    border: none;
    box-shadow: none;
    border-radius: 3px;
    color: #6F7B8A;
    padding: 5px 10px;
}

ul.pagination li a:hover,
ul.pagination li span:hover {
    background-color: #e8edf3 !important;
    color: #6F7B8A;
}

ul.pagination li a[rel=next]:hover {
    background-color: white !important;
    color: black;
}

ul.pagination li a[rel=prev]:hover {
    background-color: white !important;
    color: black;
}

ul.pagination li:last-child>a,
ul.pagination li:last-child>span {
    margin-left: -6px;
}

ul.pagination li:first-child>a,
ul.pagination li:first-child>span {
    margin-right: -6px;
}

ul.pagination .disabled span,
ul.pagination .disabled a,
ul.pagination .disabled a:hover,
ul.pagination .disabled a:focus {
    color: #C2C6CB !important;
    opacity: 0.65 !important;
    background-color: white !important;
}

ul.pagination .disabled a[rel=next]:hover {
    color: #C2C6CB;
    opacity: 0.65;
    background-color: white;
}

ul.pagination .disabled a[rel=prev]:hover {
    color: #C2C6CB;
    opacity: 0.65;
    background-color: white;
}

ul.pagination .active a,
ul.pagination .active span {
    background-color: #F3F6F9;
    font-weight: 600;
    color: #6F7B8A;
}


/*
ul.pagination > .active > a:hover,
ul.pagination > .active > span:hover {
  background-color: #e8edf3 !important;
  color: #6F7B8A;
}
*/

.btn-file {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 23px;
    height: 100%;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}

.fileinput {
    margin-bottom: 9px;
    display: inline-block;
}

.fileinput .form-control {
    padding-top: 7px;
    padding-bottom: 5px;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: middle;
    cursor: text;
}

.fileinput .thumbnail {
    overflow: hidden;
    display: inline-block;
    margin-bottom: 5px;
    vertical-align: middle;
    text-align: center;
}

.fileinput .thumbnail>img {
    max-height: 100%;
}

.fileinput .btn {
    vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput-inline .fileinput-controls {
    display: inline;
}

.fileinput-filename {
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.form-control .fileinput-filename {
    vertical-align: bottom;
}

.fileinput.input-group {
    display: table;
}

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0;
}

.fileinput-new.input-group .btn-file.btn-xs,
.fileinput-new.input-group .btn-file.btn-sm,
.fileinput-new .input-group .btn-file.btn-xs,
.fileinput-new .input-group .btn-file.btn-sm {
    border-radius: 0 3px 3px 0;
}

.fileinput-new.input-group .btn-file.btn-lg,
.fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0;
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #8a6d3b;
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #faf2cc;
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #a94442;
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #ebcccc;
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #3c763d;
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #d0e9c6;
}

.input-group-addon:not(:first-child) {
    border-left: 0;
}

@media print {
    .no-print,
    .breadcrumb,
    .btn,
    .form-group,
    .page-title {
        display: none !important;
    }
    .grid.simple .grid-body.invoice-body,
    .content {
        padding: 0 !important;
        overflow: hidden !important;
    }
    .print-mt {
        margin-top: 1.5em !important;
    }
    .print-mt-not-first .print-mt:first-child {
        margin-top: 0 !important;
    }
    a[href]:after {
        content: none !important;
    }
}


/*
MARGINS!
 */


/* Margin para Celular */

@media screen and (max-width: 768px) {
    .mt-0-xs {
        margin-top: 0;
    }
    .mr-0-xs {
        margin-right: 0;
    }
    .mb-0-xs {
        margin-bottom: 0;
    }
    .ml-0-xs {
        margin-left: 0;
    }
    .mt-5-xs {
        margin-top: 5px;
    }
    .mr-5-xs {
        margin-right: 5px;
    }
    .mb-5-xs {
        margin-bottom: 5px;
    }
    .ml-5-xs {
        margin-left: 5px;
    }
    .mt-10-xs {
        margin-top: 10px;
    }
    .mr-10-xs {
        margin-right: 10px;
    }
    .mb-10-xs {
        margin-bottom: 10px;
    }
    .ml-10-xs {
        margin-left: 10px;
    }
    .mt-15-xs {
        margin-top: 15px;
    }
    .mr-15-xs {
        margin-right: 15px;
    }
    .mb-15-xs {
        margin-bottom: 15px;
    }
    .ml-15-xs {
        margin-left: 15px;
    }
    .mt-20-xs {
        margin-top: 20px;
    }
    .mr-20-xs {
        margin-right: 20px;
    }
    .mb-20-xs {
        margin-bottom: 20px;
    }
    .ml-20-xs {
        margin-left: 20px;
    }
    .mt-25-xs {
        margin-top: 25px;
    }
    .mr-25-xs {
        margin-right: 25px;
    }
    .mb-25-xs {
        margin-bottom: 25px;
    }
    .ml-25-xs {
        margin-left: 25px;
    }
    .mt-30-xs {
        margin-top: 30px;
    }
    .mr-30-xs {
        margin-right: 30px;
    }
    .mb-30-xs {
        margin-bottom: 30px;
    }
    .ml-30-xs {
        margin-left: 30px;
    }
}


/* Margin para Tablet */

@media screen and (max-width: 1024px) {
    .mt-0-sm {
        margin-top: 0;
    }
    .mr-0-sm {
        margin-right: 0;
    }
    .mb-0-sm {
        margin-bottom: 0;
    }
    .ml-0-sm {
        margin-left: 0;
    }
    .mt-5-sm {
        margin-top: 5px;
    }
    .mr-5-sm {
        margin-right: 5px;
    }
    .mb-5-sm {
        margin-bottom: 5px;
    }
    .ml-5-sm {
        margin-left: 5px;
    }
    .mt-10-sm {
        margin-top: 10px;
    }
    .mr-10-sm {
        margin-right: 10px;
    }
    .mb-10-sm {
        margin-bottom: 10px;
    }
    .ml-10-sm {
        margin-left: 10px;
    }
    .mt-15-sm {
        margin-top: 15px;
    }
    .mr-15-sm {
        margin-right: 15px;
    }
    .mb-15-sm {
        margin-bottom: 15px;
    }
    .ml-15-sm {
        margin-left: 15px;
    }
    .mt-20-sm {
        margin-top: 20px;
    }
    .mr-20-sm {
        margin-right: 20px;
    }
    .mb-20-sm {
        margin-bottom: 20px;
    }
    .ml-20-sm {
        margin-left: 20px;
    }
    .mt-25-sm {
        margin-top: 25px;
    }
    .mr-25-sm {
        margin-right: 25px;
    }
    .mb-25-sm {
        margin-bottom: 25px;
    }
    .ml-25-sm {
        margin-left: 25px;
    }
    .mt-30-sm {
        margin-top: 30px;
    }
    .mr-30-sm {
        margin-right: 30px;
    }
    .mb-30-sm {
        margin-bottom: 30px;
    }
    .ml-30-sm {
        margin-left: 30px;
    }
}


/*
PADDINGS!
 */


/* Padding para Celular */

@media screen and (max-width: 768px) {
    .pt-0-xs {
        padding-top: 0;
    }
    .pr-0-xs {
        padding-right: 0;
    }
    .pb-0-xs {
        padding-bottom: 0;
    }
    .pl-0-xs {
        padding-left: 0;
    }
    .pt-5-xs {
        padding-top: 5px;
    }
    .pr-5-xs {
        padding-right: 5px;
    }
    .pb-5-xs {
        padding-bottom: 5px;
    }
    .pl-5-xs {
        padding-left: 5px;
    }
    .pt-10-xs {
        padding-top: 10px;
    }
    .pr-10-xs {
        padding-right: 10px;
    }
    .pb-10-xs {
        padding-bottom: 10px;
    }
    .pl-10-xs {
        padding-left: 10px;
    }
    .pt-15-xs {
        padding-top: 15px;
    }
    .pr-15-xs {
        padding-right: 15px;
    }
    .pb-15-xs {
        padding-bottom: 15px;
    }
    .pl-15-xs {
        padding-left: 15px;
    }
    .pt-20-xs {
        padding-top: 20px;
    }
    .pr-20-xs {
        padding-right: 20px;
    }
    .pb-20-xs {
        padding-bottom: 20px;
    }
    .pl-20-xs {
        padding-left: 20px;
    }
    .pt-25-xs {
        padding-top: 25px;
    }
    .pr-25-xs {
        padding-right: 25px;
    }
    .pb-25-xs {
        padding-bottom: 25px;
    }
    .pl-25-xs {
        padding-left: 25px;
    }
    .pt-30-xs {
        padding-top: 30px;
    }
    .pr-30-xs {
        padding-right: 30px;
    }
    .pb-30-xs {
        padding-bottom: 30px;
    }
    .pl-30-xs {
        padding-left: 30px;
    }
}


/* Padding para Tablet */

@media screen and (max-width: 1024px) {
    .pt-0-sm {
        padding-top: 0;
    }
    .pr-0-sm {
        padding-right: 0;
    }
    .pb-0-sm {
        padding-bottom: 0;
    }
    .pl-0-sm {
        padding-left: 0;
    }
    .pt-5-sm {
        padding-top: 5px;
    }
    .pr-5-sm {
        padding-right: 5px;
    }
    .pb-5-sm {
        padding-bottom: 5px;
    }
    .pl-5-sm {
        padding-left: 5px;
    }
    .pt-10-sm {
        padding-top: 10px;
    }
    .pr-10-sm {
        padding-right: 10px;
    }
    .pb-10-sm {
        padding-bottom: 10px;
    }
    .pl-10-sm {
        padding-left: 10px;
    }
    .pt-15-sm {
        padding-top: 15px;
    }
    .pr-15-sm {
        padding-right: 15px;
    }
    .pb-15-sm {
        padding-bottom: 15px;
    }
    .pl-15-sm {
        padding-left: 15px;
    }
    .pt-20-sm {
        padding-top: 20px;
    }
    .pr-20-sm {
        padding-right: 20px;
    }
    .pb-20-sm {
        padding-bottom: 20px;
    }
    .pl-20-sm {
        padding-left: 20px;
    }
    .pt-25-sm {
        padding-top: 25px;
    }
    .pr-25-sm {
        padding-right: 25px;
    }
    .pb-25-sm {
        padding-bottom: 25px;
    }
    .pl-25-sm {
        padding-left: 25px;
    }
    .pt-30-sm {
        padding-top: 30px;
    }
    .pr-30-sm {
        padding-right: 30px;
    }
    .pb-30-sm {
        padding-bottom: 30px;
    }
    .pl-30-sm {
        padding-left: 30px;
    }
}


/* Padding para PC */

@media screen and (min-width: 1024px) {
    .pr-0-lg {
        padding-right: 0 !important;
    }
}


/*
BREAK LINE!
 */

span.break-xs,
span.break-sm {
    display: block;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    span.break-xs {
        display: inline;
        -ms-flex-preferred-size: initial;
        flex-basis: initial;
    }
}

@media screen and (min-width: 1024px) {
    span.break-sm {
        display: inline;
        -ms-flex-preferred-size: initial;
        flex-basis: initial;
    }
}


/*
TEXT ALIGN!
 */

@media screen and (max-width: 768px) {
    .text-center-xs {
        text-align: center !important;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .text-right-xs {
        text-align: right !important;
    }
    .text-left-xs {
        text-align: left !important;
    }
    .text-justify-xs {
        text-align: justify !important;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 1024px) {
    .text-center-sm {
        text-align: center !important;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .text-right-sm {
        text-align: right !important;
    }
    .text-left-sm {
        text-align: left !important;
    }
    .text-justify-sm {
        text-align: justify !important;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}


/*
BUTTONS!
 */

@media screen and (max-width: 768px) {
    .btn-df-xs {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
    }
    .btns-xs .btn {
        width: calc(50% - 5px);
        margin-top: 10px;
    }
}

.orange {
    background: #fd7e14;
}

.cor1 {
    background-color: #fd7e14;
}

.blend {
    color: white !important;
}

.table_dash a:link {
    color: #0f0f0f !important;
}

.table_dash a:visited {
    color: #0f0f0f !important;
}

.table_dash a:hover {
    color: #2a2a2a !important;
}

.table_dash a:active {
    color: #0f0f0f !important;
}

.jqstooltip {
    width: 75px !important;
    height: 23px !important;
}

.list {
    text-decoration: none;
    list-style: none;
    width: 50%;
    position: absolute;
    top: 20%;
    right: 5%;
}

.legenda {
    font-size: 10px;
}

.cor {
    width: 10px;
    height: 10px;
    float: left;
    transform: translate(-5px, 4px);
}

#doc {
    display: none
}


/* Aparência que terá o seletor de arquivo */

.doc {
    background-color: #3498db;
    color: #fff !important;
    cursor: pointer;
    padding: 6px 50px;
}

#arq {
    font: 1.1em sans-serif;
}

.cores {
    border: none !important;
}

.fa-file {
    font-size: 15px
}

**/ .input-file {
    position: relative;
    overflow: hidden;
    padding: 0;
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.input-file .btn {
    white-space: nowrap;
    display: inline-block;
    margin-right: 1em;
    vertical-align: top;
}

.input-file .material-icons {
    float: left;
    font-size: 16px;
    line-height: inherit;
    margin-right: 4px;
}

.input-file ins {
    white-space: nowrap;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.input-file:after {
    content: "";
    display: block;
    clear: both;
}

.input-file input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: -100px;
    z-index: -1;
}