html, body{
	padding: 0;
	margin: 0 auto;
	height: 100%;
} 

.linha{
		background-color:  #eb580e;
		width: 100%;
		height: 3px;
		position: fixed;
		z-index: 12;
	}

.linhaMobile, .phone, .whatsCompartilha {
	display: none;
}

.navbar-nav{
	float: right;
}
.nav li a{
	padding-top: 24px;
	padding-bottom: 18px;
}
.separador{
	width: 2px;
	background-color: #e7e7e7;
	margin-left: 15px;
}
.mobile{
	width: 100%;
	height: 65px;
	position: fixed;
	z-index: 10;
	border-radius: none;
	display: flex;
	font-size: 16px;
}

@media only screen and (min-width: 765px) and (max-width: 1000px) {
	.mobile{
		font-size: 14px;
	}
}

.navbar{
	border-radius: 0px;
}

.linksMenu:hover{
	background-color: #e7e7e7 !important;
	border-bottom: 2px #eb580e solid;
}

.logoSite{
	transform: translate(0px, -10px);
	img{
		width: 150px;
	}
}

#clear{
		width: 100%;
		position: relative;
		padding-top: 54px;
	}

#banners{
	width: 100%;
	padding-top: 54px;
	position: relative;
	height: 450px;
	margin: 0px 0px 70px 0px;
}
.banners{
	width: 100%;
	height: 450px;
	position: relative;
	padding: 0px 0px;
	background-color: #fff;
}

#view{
	width: 100%;
	height: 450px;
	a{
		width: 99.9%;
	}
}

#navegador{
	text-align:center;
	margin:10px auto;
	a{
		display:inline-block;
		width:12px;
		height:12px;
		border-radius:14px;
		background:#969696;
		text-indent:-999999px;
		margin: 0px 3px;
		z-index: 1;
	}
}

#navegador a.activeSlide{
	background:#eb580e;
	width:12px;
	height:12px;
	border-radius:10px;
	position:relative;
}

.linha2{
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	position: relative;
	background-color:  #d8d8d8;
	height: 1px;
}

.conteudo{
	max-width: 1170px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 0px;
	overflow: auto;
	min-height: 120px;
}

.tamanho{
	min-height: 87.8%;                        
  min-height: -webkit-calc(87.8% - 100px); 
  min-height: -moz-calc(87.8% - 100px);     
  min-height: calc(87.8% - 100px);  
}
.tamanhoIndex{
	min-height: 29.9%;                        
  min-height: -webkit-calc(29.9% - 100px); 
  min-height: -moz-calc(29.9% - 100px);     
  min-height: calc(29.9% - 100px);  
}

.divOferta{
	width: 100%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 1%;
	p{
		margin: 0;
		padding: 0;
		font-family: "Open Sans", arial, verdana;
		color:  #eb580e;
		font-size: 14px;
		font-weight: 700;
	}

	h3{
		margin: 0;
		padding: 0;
		font-family: "Open Sans", arial, verdana;
		color:  #333333;
		font-size: 30px;
		font-weight: 700;
	}
}

.divProdutoOferta{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.produto{
	width: 200px;
	text-align: center;
	padding: 2px;
	margin: 0.5% 1.4%;
}

.imgProduto{
	border: 1px #d8d8d8 solid;
	img{
		width: 170px;
		height: 170px;
		padding: 10px 0px;
	}
}

.nomeProduto{
	font-family: "Open Sans", arial, verdana;
	color:  #333333;
	font-size: 16px;
	font-weight: 400;
}
.preco{
	font-family: "Open Sans", arial, verdana;
	color:  #eb580e;
	font-size: 14px;/* Aproximação devido à substituição de fonte */
	font-weight: 400;
	margin: 0;
	span{
		color:  #666666;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}
}

.quantidadeProduto {
	color:  #666666;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}

/* Compartilhe --  */

.compartilhe{
	width: 100%;
	height: 50px;
	background-color: #f7f7f7;
	padding-bottom: 0px;
	position: relative;
	bottom: 0;
}

.share-btn:hover{
	text-decoration: none;
}

.textoCompartilhe{
	font-family: "Open Sans", arial, verdana;
	width: auto;
	margin: 10px 10px;
	float: left;
	color:  #666666;
	font-size: 16px;
	font-weight: 400;
	line-height: 23.997px;
	text-align: left;
	transform: scaleY(1.0001);
	margin-left: 12%;
	span{
		color:  #ec580d;
		font-size: 16px;
		font-weight: 700;
		line-height: 23.997px;
		text-align: left;
	} 
}

.redeSocial{
	width: auto;
	margin: 1px 10px;
	float: left;
	font-size: 34.99px;
	font-weight: 400;
	text-align: left;
	transform: scaleY(1.0001);
	.fa-facebook-square{
		color:  #005c9d;
	}

	.fa-whatsapp{
		color: #4cc064;
	}
}

/* Rodape ------- Desktop*/

.rodape{
	width: 100%;
	height: 90px;
	position: relative;
	bottom: 0;
	background-color: #eb580e;
	// display: flex;
	z-index: 10;
}
.textoRodape{
	width: 100%;
	height: 90px;
  position: relative;

}
.phoneRodape{
	font-family: "Open Sans", arial, verdana;
	color:  #fdc7ac;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0px;
	padding: 5px 0px 2px 0px;
	text-indent: 1em; 
	span{
		font-weight: 700;
	}
}

.phoneRodape a {
	font-family: "Open Sans", arial, verdana;
	color:  #fdc7ac;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 0px;
	text-decoration: none;
	.fa{
		display: inline;
		margin-left: 3px;
	}
}

.pRodape{
	color:  #fdc7ac;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 0;
	padding-top: 4px;
}
.divisor{
	height: 1px;
	background-color: #fdc7ac; 
	width: 40%;
	margin: 0 auto;
}
.linhaFooter{
	width: 100%;
	height: 4px;
	position: relative;
	background-color: #073081;
	bottom: 0;
	z-index: 10;
}

/* institucional ----- */

.textoInstitucional{
	margin: 10px;
	font-family: "Open Sans", arial, verdana;
	font-size: 14px;
	text-align: justify;
}
.imgInstitucional{
	float: left;
	width: 100%;
	height: 34%;
	margin: 5px 0px 10px;
}
.textoInstitucional p img {
    margin-right: 10px !important;
}
/* Contato -------------*/
.divMap{
	float: right;
}

.maps{
	width: 100%;
	height: 550px;
	margin-bottom: -5px;
	margin-top: -5px;
}

.divFormContato{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tituloPage{
	color:  #333;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	margin-bottom: 20px; 
	h3{
		font-family: "Open Sans", arial, verdana;
		font-size: 30px;
		font-weight: 700;
		text-align: center;
	}

	span{
		color:  #eb580e;
		font-size: 16px;
		font-weight: 700;
	}
}

.formContato label{
	font-size: 12px;
	margin: 0 auto;
}

.campoGrande{
	width: 100%;
	padding: 10px;
	border: 1px #ccc solid;
}

.regulaCampos{
	display: flex;
}

.divCamposMenores{
	width: 50%;
	margin-top: 1%;
}

.divCamposMenoresR{
	width: 48%;
	margin-top: 1%;
	margin-left: 2%; 
}

.camposMenores{
	width: 100%;
	padding: 10px;
	margin: 0px 2px;
	background-color: #fff;
	border: 1px #ccc solid;
}
.textMenssagem{
	margin-top: 7px;
}
.btn_Enviar{
	margin-top: 2%;
	color: #fff;
	background-color: #eb580e;
	width: 200px;
	font-size: 18px;
}

.btn_Enviar:hover{
	color: #fff;
	background-color: #cb580e;
}
.regulaBotaoEnvia{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.linhaContatoDesk{
	display: block;
	width: 100%;
	margin-top: 1.5%;
	position: relative;
	background-color:  #d8d8d8;
	height: 1px;
}

.logoPrestige{
	position: absolute;
	float: right;
	bottom: 2.5%;
	right: 47.5%;
}
.espaco{
	padding-bottom: 25px;
}

.fb_iframe_widget{
	display: flex !important;
}

.fb-like{
	width: 100%;
	justify-content: center;
	margin-top: 5px;
}

.televendas{
  font-size: 16px;
  margin-top: 1.5%;
  text-align: center;
  color: #444;
  span{
  	color: #eb580e;
  	font-weight: 700;
  }
  b{
  	font-size: 20px;
  }
}