@charset "UTF-8";
@media only screen and (max-width: 764px) {
	.linha{
		display: none; 
	}

	.whatsCompartilha{
		display: block;
		float: right;padding-left: 15px; 
	}

	.navbar-nav{
		float: left;
		width: 100%;
	}

	.mobile{ 
		display: block; 
		position: fixed; 
		width: 100%; 
		height: auto;
		z-index: 11;
		margin-top: 0px;
		font-size: 16px;
	}
	
	.icones{ 
		display: flex;	
	}
	
	.menu{ 
		flex: 1; 
		margin-left: 10px; 
		justify-content: 
		flex-start; 
		align-items: left; 
	} 

	.logoSite{
		display: block;
		width: 100%;
		flex: 1;
		padding: 5px;
		height: 20%;
		justify-content: center;
  	align-items: center;
  	transform: translate(0px, 0px);
  	img{
  		width: 120px;
			margin:0;
			padding: 0;
			margin-left: 10%;
  	}
	}
	
	.nav li a{
		padding-top: 10px;
		padding-bottom: 10px;
 	}

 	.linksMenu:hover{
		background-color: #e7e7e7 !important;
		border-bottom: none;
	}

	.links {
		text-decoration: none;
		color:  #969696;
	}

	.phone{
		 flex: 1;
		font-size: 35px;
		padding-right: 10px;
		font-weight: 400;
		text-align: left;
		display: flex;
		justify-content: flex-end;
  	align-items: center;
	}

	.linhaMobile{
		display: block;;
		background-color:  #eb580e;
		width: 100%;
		height: 3px;
	}
	
	.navbar-toggle{
		float: left;
	}

	#clear{
		width: 100%;
		position: relative;
		padding-top: 54px;
	}

	/* Slide ---------*/

	#banners{
		width: 100%;
		position: relative;
		padding-top: 54px;
		padding-left: 0%;
		padding-right: 0%;
		height: 250px;
		margin: 0px 0px 67px 0px;
	}

	.banners{
		width: 100%;
		height:250px;
		padding: 0px 10px;
	}
	#view{
		width: 100%;
		height: 250px;
		a{
			width: 100%;
		}
	}

	#navegador{
		text-align:center;
		margin:10px auto;
		a{
			display:inline-block;
			width:12px;
			height:12px;
			border-radius:14px;
			background:#969696;
			text-indent:-999999px;
			margin: 0px 3px;
			z-index: 1;
		}
	}

	#navegador a.activeSlide{
		background:#eb580e;
		width:12px;
		height:12px;
		border-radius:10px;
		position:relative;
	}

	.linha2{
		width: 80%;
		margin: 0 auto;
		margin-top: 6%;
		position: relative;
		background-color:  #d8d8d8;
		height: 1px;
	}
	/* conteudo ----- */

	.conteudo{
		max-width: 100%;
		position: relative;
		margin: 0;
		padding-left: 0%;
		padding-right: 0%;
		padding-bottom: 140px;
	}

	.divOferta{
		width: 100%;
		text-align: center;
		margin-top: 5%;
		margin-bottom: 3%; 
		p{
			margin: 0;
			padding: 0;
			font-family: "Open Sans", arial, verdana;
			color:  #eb580e;
			font-size: 14px;
			font-weight: 700;
		}

		h3{
			margin: 0;
			padding: 0;
			font-family: "Open Sans", arial, verdana;
			color:  #333333;
			font-size: 30px;
			font-weight: 700;
		}
	}

	.divProdutoOferta{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.produto{
		width: 40%;
		text-align: center;
		padding: 2px;
		margin: 2% 5%;
	}

	.imgProduto{
		border: 1px #d8d8d8 solid;
		img{
			width: 120px;
			height: 120px;
			padding: 10px 5px;
		}
	}
	
	.nomeProduto{
		font-family: "Open Sans", arial, verdana;
		color:  #333333;
		font-size: 16px;
		font-weight: 400;
	}

	.preco{
		font-family: "Open Sans", arial, verdana;
		color:  #eb580e;
		font-size: 14px;
		font-weight: 400;
		margin: 0;
		span{
			color:  #666666;
			font-size: 14px;
			font-weight: 400;
			text-align: center;
		}
	}
	
	.quantidadeProduto {
		color:  #666666;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
	}

	/* Compartilhe -- */

	.compartilhe{
		width: 100%;
		height: 50px;
		background-color: #f7f7f7;
		padding-bottom: 148px;
		position: fixed;
		bottom: 0;
	}

	.textoCompartilhe{
		font-family: "Open Sans", arial, verdana;
		width: 55%;
		margin: 1px 10px;
		float: left;
		color:  #666666;
		font-size: 16px;
		font-weight: 400;
		line-height: 23.997px;
		text-align: left;
		transform: scaleY(1.0001);
		span{
			color:  #ec580d;
			font-size: 16px;
			font-weight: 700;
			line-height: 23.997px;
			text-align: left;
		}
	}

	.redeSocial{
		width: auto;
		margin: 1px 10px;
		float: right;
		font-size: 34.99px;
		font-weight: 400;
		text-align: left;
		transform: scaleY(1.0001);
	}

/* Rodape ------- */
	.rodape{
		width: 100%;
		height: 100px;
		position: fixed;
		bottom: 0;
		background-color: #eb580e;
		z-index: 10;
	}

	.textoRodape{
		width: 100%;
		height: 100px;
    position: relative;

	}

	.phoneRodape{
		font-family: "Open Sans", arial, verdana;
		color:  #fdc7ac;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 0px;
		padding: 4px 10px;
		text-indent: 0.5em;
		span{
			font-weight: 700;
		} 
	}
	
	.pRodape{
		color:  #fdc7ac;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		margin-bottom: 0;
		padding-top: 4px;
	}

	.divisor{
		height: 1px;
		background-color: #fdc7ac; 
		width: 72%;
		margin: 0 auto;
	}

	.linhaFooter{
		width: 100%;
		height: 4px;
		position: fixed;
		background-color: #073081;
		bottom: 0;
		z-index: 13;
	}

/* institucional */
	.textoInstitucional{
		margin: 10px 10px 6px 10px;
		font-family: "Open Sans", arial, verdana;
		font-size: 14px;
		text-align: justify;
	}

	.imgInstitucional{
		float: left;
		width: 100%;
		margin: 0px 0px 10px;
	}

	.textoInstitucional p img{
		width:100% !important;
		height: auto !important;
		margin: 5px 0px !important;
	}
/*contato */

	.divMap{
		width:100%;
		float: left;
		padding: 2px 25px;

	}

	.maps{
		width: 100%;
		height: 400px;
		margin-bottom: 125px;
		padding: 0px 10px;
		position: absolute;
		margin-top: -140px;
	}

	.divFormContato{
		padding: 0px 10px;
	}

	.linhaContatoDesk{
		display: none;
	}

	.linhaContato{
		display: block;
		width: 100%;
		margin-top: 8%;
		position: relative;
		background-color:  #d8d8d8;
		height: 1px;
	}

	.logoPrestige{
		position: absolute;
		float: right;
		top: 82%;
		right: 40%;
	}

	.espaco{
		padding-bottom: 0px;
	}

	.televendas{
	  font-size: 18px;
	  margin-top: 1.5%;
	  text-align: center;
	  color: #444;
	  span{
	  	color: #eb580e;
	  	font-weight: 700;
	  }
	  b{
	  	font-size: 22px;
	  }
}

}