* {
    font-family: "Open Sans", sans-serif;
}
.topo-header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 110px;
}
.right {
    display: flex;
    justify-content: flex-end;
}

.show-navbar-button {
    font-size: 25px;
    color: rgb(77, 77, 77);
}

.redesSociais a {
    font-size: 2.5em;
    padding-left: 10px;
    color: rgb(77, 77, 77);
}
.propertiesFilter {
    background-color: rgb(175, 175, 175);
}
.header {
    background-color: rgb(135, 135, 135);
}

.property-list {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    margin-top: 30px;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #ccc;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid 1px #ccc;
    padding: 0.6em;
    color: #333;
    text-decoration: none;
    line-height: 1.3em;
    min-height: 170px;
}

.contactProperty {
    border: solid 1px rgb(135, 135, 135);
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-contactProperty {
    background-color: rgb(135, 135, 135);
    width: 100%;
    height: 50px;
}

.colorWhite {
    color: white;
}
.btn-contactProperty a:hover {
    color: #212529;
}
.contactPropertyMessage {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    color: white;
    display: grid;
}

.logoRodape img {
    width: 50%;
}
.showFilters {
    display: none;
}
#headerMobile {
    display: none;
}

.external_id {
    font-size: 0.75em;
}

.texto-junto {
    line-height: 1.3em;
}
.shareButtons {
    border: solid 1px rgb(135, 135, 135);
    margin-top: 8px;
    text-align: center;
    justify-content: center;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.shareButtons a {
    font-size: 2em;
    margin-left: 10px;
}

.contentDP img {
    max-width: 100% !important;
}

.foneMenu {
    text-align: center;
    position: fixed;
    width: 100%;
    padding-right: 20px;
    bottom: 15px;
    font-size: 1.2em;
}

.conteudo .cabecalho {
    margin-top: 50px;
    text-align: center;
}
.conteudo .cabecalho h1 {
    font-weight: 700;
}
.linhaFina {
    font-weight: 300 !important;
    font-size: 1.4em !important;
    margin-top: -12px;
    margin-bottom: 40px;
}
.contatoEnviado {
    width: 100%;
    text-align: center;
    background-color: rgb(221, 243, 213);
    padding: 10px;
}
.priceItem{
    position: absolute;
    bottom: 15px;
}
.info-property{
    padding: 15px;
}
#navbarDesktop{
    display: none ;
}
@media only screen and (min-width: 757px) {
    #navbarDesktop{
        display: flex ;
    }
}
@media screen and (max-width: 756px) {
    .info-property{
        padding: 0px;
    }
    .relationalProperties{
        padding: 0px;
    }
    .shareButtons a {
        margin-left: 0px;
    }
    .priceItem{
        position: absolute;
        display: grid;
        bottom: 15px;
    }
    .property-content {
        width: 50%;
    }

    .logoRodape img {
        height: auto;
    }
    .logoRodape {
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }
    .phonesRodape {
        justify-content: center;
        align-items: center;
        text-align: center !important;
    }

    .redesSociais a {
        font-size: 1.5em;
    }
    .propertiesFilter-form div {
        padding-bottom: 10px;
    }
    form .form-control {
        height: calc(1.8125rem + 8px) !important;
    }
    .propertiesFilter-form div button {
        width: 100%;
        font-size: 1.1em;
    }

    .propertiesFilter {
        display: none;
    }
    .showFilters {
        width: 100%;
        background-color: rgb(175, 175, 175);
        display: flex;
        justify-content: center;
        font-size: 1.3em;
    }
    .mt-5,
    .my-5 {
        margin-top: 1rem !important;
    }

    .topo-header nav {
        display: contents;
    }
    .topo-header nav img {
        max-width: 250px;
        max-height: 70px;
        margin-right: auto !important;
    }
    #headerDesktop {
        display: none;
    }
    #headerMobile {
        display: block;
    }
    .property-info {
        min-height: 190px;
    }
}
@media screen and (min-width: 990px){
    .slick-slide img {
        min-height: 383px;
    }
    .slick-news .slick-list{
        max-height: 383px;
    }
}
@media screen and (min-width: 1200px){
    .slick-news .slick-list{
        max-height: 462px;
    }
    .slick-slide img {
        min-height: 462px;
    }
}
@media screen and (max-width: 756px){
    .slick-news .slick-list{
        max-height: 270px;
    }
    .slick-slide img {
        min-height: 270px;
    }
    .dropdown-menu {
        right: 180px !important;
    }
}

/* WhatsApp icone */
.whatsappfixoIcon {
    position: fixed;
    top: 84%;
    right: 1%;
    padding: 10px;
    z-index: 10;
  }
  
  .whatsappfixoIcon img {
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 0;
    transition: 0.4s;
  }
  
  .whatsappfixoIcon img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
  }