* {margin:0;padding:0;}
html, body {height: 100%;}

body{
    min-height: 100%;
    background: #fff url('../img/bg-login.png') repeat-x left top;
}

.clear{
    float:none !important;
    clear: both;
}
.container-fluid > div{
    margin: 0 auto;
    float: none;
}
#principal{
    min-height:100%;
    width: 30%;
    margin: 0 auto;
}
.a-center{
    text-align: center;
}
.a-right{
    text-align: right;
}
h1{
    font-family: HelveticaNeueLTCom-ThCn;
    font-size: 24px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1;
}
h2{
    font-family: HelveticaNeueLTCom-ThCn;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 1;
}
h3{
    font-family: HelveticaNeueLTCom-ThCn;
    font-size: 20px;
    color: #666666;
    margin: 0;
    padding: 0;
    line-height: 100%;
}
h4{
    font-family: HelveticaNeueLTCom-ThCn;
    font-size: 20px;
    color: #666666;
    margin: 0;
    padding: 0;
    float: right;
    margin: 10px;
    line-height: 100%;
}
p{
    font-family: Open Sans', Tahoma, 'sans-serif;;
    font-size: 12px;
    color:#666666;
    margin: 0px;
}
a{color: #227dba}
.login{
    min-height: 180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #eeeeee;
    padding:30px 0;
}
.logo{
    margin-top: 45px;
}
.ml{
    margin-left: 0px;
}
.box-botao{
    padding: 0 30px;
}
.texto{
    text-align: center;
    width: 300px;
    margin-left: 60px;
}
.cadeado{
    background-image: url('../img/i_cadeado-login.png');
    width: 32px;
    height: 38px;
    float: left;
}
.form{
    padding: 0 30px;
    font-family: Open Sans', Tahoma, 'sans-serif;
    font-size: 14px;
    color:#555555;
}
/*.logar input[type=text]{
    width:90%;
    height: 35px;
    font-size:14px;
    border:1px solid #ccc;
    color:#555555;
    border-radius: 5px;
    margin: 10px 0px 20px 0px;
    padding-left: 10px;
}
.logar input[type=password]{
    width:90%;
    height: 35px;
    font-size:14px;
    border:1px solid #ccc;
    color:#555555;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    padding-left: 10px;
}*/
.botao{
    width:82px;
    font-family: HelveticaNeueLTCom-ThCn;
    font-size: 20px;
    color: #ffffff;
    background-color: #227dba;
    text-transform: uppercase;
    border:none;
    padding: 2px;
    padding-top:8px;
    margin-top:15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: right;
}
.botao:hover{
    background-color: #1873b0;
}

.row{
    margin: 0
}
.icon-https {
    background-image: url("../img/i_https.png");
    background-position: center center;
    margin-top: -20px;
    color: #eeeee;
}
#rodape {
    position: relative;
    margin:0px ;
    clear:both;
    text-align: center;
    min-height: 80px;
}
.geo{
    margin-top: 20px;
}
.alert{
    margin: 0 30px 20px 30px;
}

#esqueci-senha {
    margin-top:33px;
    display:inline-block;
}

.esqueci-senha-box {
    border-top:1px solid #e0e0e0;
    margin-top:15px;
}

.preencha-dados {
    margin:15px 0 0 15px;
}

.btn-cons {
    float:right;
    margin-top:5px;
}

label {
    margin-bottom:0 !important;
    margin-top:5px;
}



.btn-recover {
    background-color: #227dba;
    color:white;
    font-family: 'HelveticaNeueLTCom-ThCn';
    text-transform:uppercase;
    font-size:16px;
    padding-top:11px;
}
.btn-recover:hover,
.btn-recover:focus,
.btn-recover:active,
.btn-recover.active {
    background-color: #1873b0;
    color:white;
    font-family: 'HelveticaNeueLTCom-ThCn';
    text-transform:uppercase;
    font-size:16px;
}
.btn-recover.disabled:hover,
.btn-recover.disabled:focus,
.btn-recover.disabled:active,
.btn-recover.disabled.active,
.btn-recover[disabled]:hover,
.btn-recover[disabled]:focus,
.btn-recover[disabled]:active,
.btn-recover[disabled].active,
fieldset[disabled] .btn-recover:hover,
fieldset[disabled] .btn-recover:focus,
fieldset[disabled] .btn-recover:active,
fieldset[disabled] .btn-recover.active {
    background-color: #227dba;
    border-color: #227dba;
}

.alert ul {list-style:none;}
