/* -----------------------------------------------------------------------------
 * HELPERS
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * Brand colors
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * Base colors
 * -------------------------------------------------------------------------- */
/*------------------------------------------------------------------------------
 * Text transform
 * ---------------------------------------------------------------------------*/
/* -----------------------------------------
 * Breakpoints of love <3
 * -------------------------------------- */
/* Value map */
/* Function */
/* How to use:
 * @include breakpoint( your breakpoint variable here )
 *
 * Example how to include:
 * @include breakpoint(xs) {}
 * @include breakpoint(sm) {}
 * ----------------------------------------------------- */
/* -----------------------------------------------------------------------------
 *  FLEX ELEMENTS
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * Border-radius
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * Transition
 * -------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------
 * LAYOUT
 * -------------------------------------------------------------------------- */

 h2 {
  color: #696969;
}

.title i {
  margin-right: 10px;
  ;
}

.title {
  margin-left: 2%;
}

.tiles-body h2 {
  display: block;
  position: inherit;
  text-align: center;
  vertical-align: middle;
  margin-top: 9%;
}
.home-page .navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  border-width: 0 0 1px; }
  .home-page .navbar.navbar-default {
    background-color: transparent; }

.general .navbar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  border-width: 0 0 1px;
  border-radius: 0;
  padding-bottom: 25px; }
  @media (max-width: 991px) {
    .general .navbar {
      padding-top: 10px; } }
  @media (max-width: 767px) {
    .general .navbar {
      padding: 0; } }
  .general .navbar.navbar-default {
    background-color: rgba(255, 255, 255, 0.4); }

.navbar.navbar-default {
  border-bottom: 0;
  padding-top: 10px; }
  @media (max-width: 767px) {
    .navbar.navbar-default {
      padding-top: 0; } }
  @media (max-width: 767px) {
    .navbar.navbar-default .navbar-header {
      background-color: #1f2055;
      padding: 5px 0; } }
  .navbar.navbar-default .navbar-header .navbar-brand {
    margin-left: 0;
    margin-top: 10px;
    padding: 0; }
    @media (max-width: 767px) {
      .navbar.navbar-default .navbar-header .navbar-brand {
        margin-left: 15px; } }
    @media (max-width: 991px) {
      .navbar.navbar-default .navbar-header .navbar-brand img {
        width: 110px;
        height: auto; } }
  .navbar.navbar-default .navbar-header .navbar-toggle {
    margin-top: 15px;
    border: 0; }
    .navbar.navbar-default .navbar-header .navbar-toggle:hover, .navbar.navbar-default .navbar-header .navbar-toggle:focus {
      background-color: #282960; }
    .navbar.navbar-default .navbar-header .navbar-toggle .icon-bar {
      background-color: #fff;
      width: 27px;
      height: 3px;
      margin-top: 3px; }
  @media (max-width: 767px) {
    .navbar.navbar-default .navbar-collapse {
      background-color: #484a9e; } }
  .navbar.navbar-default .navbar-collapse .navbar-nav {
    margin-top: 15px; }
    @media (max-width: 767px) {
      .navbar.navbar-default .navbar-collapse .navbar-nav {
        padding: 0 15px; } }
    .navbar.navbar-default .navbar-collapse .navbar-nav .open a {
      background-color: transparent;
      color: #fff;
      border-radius: 2px; }
      .navbar.navbar-default .navbar-collapse .navbar-nav .open a:hover {
        background-color: transparent;
        color: #fff; }
    .navbar.navbar-default .navbar-collapse .navbar-nav .active a {
      border-bottom: 2px solid #fff;
      background-color: transparent; }
      .navbar.navbar-default .navbar-collapse .navbar-nav .active a:hover {
        color: #fff; }
    .navbar.navbar-default .navbar-collapse .navbar-nav li a {
      color: #fff;
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 15px;
      text-transform: uppercase;
      border-bottom: 2px solid transparent; }
      @media (max-width: 991px) {
        .navbar.navbar-default .navbar-collapse .navbar-nav li a {
          font-size: 14px; } }

.navbar-right .dropdown .dropdown-menu {
  background-color: #282960;
  top: 52px;
  right: -143px; }
  @media (max-width: 767px) {
    .navbar-right .dropdown .dropdown-menu {
      padding: 0 20px;
      background-color: #4e50a9 !important; } }
  @media (max-width: 767px) {
    .navbar-right .dropdown .dropdown-menu li {
      padding: 5px 0; } }

.general .banner-institucional {
  background: url(../images/banner-institucional.jpg) 30% no-repeat;
  width: 100%;
  top: 0;
  display: block;
  padding-top: 75px;
  height: 280px;
  background-size: cover;
  background-color: #282960;
  position: relative; }
.general .banner-reservas {
  background: url(../images/banner-reservas.jpg) 30% no-repeat;
  width: 100%;
  top: 0;
  display: block;
  padding-top: 75px;
  height: 280px;
  background-size: cover;
  background-position: 100% 70%;
  background-color: #282960;
  position: relative; }
.general .banner-trabalhe {
  background: url(../images/banner-trabalhe.jpg) 30% no-repeat;
  width: 100%;
  top: 0;
  display: block;
  padding-top: 75px;
  height: 280px;
  background-position: 100% 26%;
  background-size: cover;
  background-color: #282960;
  position: relative; }
.general .banner-contato {
  background: url(../images/banner-contato.jpg) 30% no-repeat;
  width: 100%;
  top: 0;
  display: block;
  padding-top: 75px;
  height: 280px;
  background-position: 100% 26%;
  background-size: cover;
  background-color: #282960;
  position: relative; }
.general .banner-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
.general .banner {
  padding: 20px 15px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0; }
  @media (max-width: 480px) {
    .general .banner h1 {
      font-size: 29px; } }
  .general .banner p {
    color: #fff;
    font-size: 18px; }
    @media (max-width: 480px) {
      .general .banner p {
        font-size: 16px; } }

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px; }

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -2.3px;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out; }

.sidebar-anchor:hover:before {
  width: 85%;
  margin-left: 6px; }

.dropdown {
  padding-right: 10px; }
  .dropdown .caret {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    border: 0; }
    .dropdown .caret:after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 7px);
      right: 0;
      width: 8px;
      height: 8px;
      border-right: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-appearance: none; }

.carousel-caption {
  left: 0;
  bottom: inherit; }
  @media (max-width: 991px) {
    .carousel-caption {
      top: 28vh; } }
  @media (max-width: 767px) {
    .carousel-caption {
      top: 23vh; } }
  @media only screen and (min-device-width: 360px) and (max-device-width: 736px) and (orientation: landscape) {
    .carousel-caption {
      top: 32vh; } }
  @media (max-width: 991px) {
    .carousel-caption h1 {
      font-size: 45px; } }
  @media (max-width: 767px) {
    .carousel-caption h1 {
      font-size: 35px;
      line-height: 1; } }
  @media (max-width: 480px) {
    .carousel-caption h1 {
      font-size: 28px;
      line-height: 1; } }
  @media (max-width: 991px) {
    .carousel-caption p {
      font-size: 30px;
      line-height: 1.8; } }
  @media (max-width: 767px) {
    .carousel-caption p {
      font-size: 26px;
      margin-bottom: 5px;
      line-height: 1; } }
  @media (max-width: 480px) {
    .carousel-caption p {
      font-size: 22px; } }

@media (max-width: 767px) {
  #sg-carousel {
    position: relative;
    height: 55vh; }
    #sg-carousel .carousel-inner .item {
      height: 55vh; }
      #sg-carousel .carousel-inner .item img.img-responsive {
        display: block;
        height: 100%;
        max-width: 100%;
        width: 100%; } }
      @media (max-width: 767px) and (max-width: 480px) {
        #sg-carousel .carousel-inner .item img.img-responsive {
          width: 150%;
          max-width: 150%; } }
@media (max-width: 767px) {
      #sg-carousel .carousel-inner .item a img {
        display: block;
        height: 100%;
        max-width: 100%;
        width: 100%; }
    #sg-carousel .carousel-control.left {
      display: none; }
    #sg-carousel .carousel-control.right {
      display: none; } }
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) and (orientation: landscape) {
  #sg-carousel {
    height: 90vh; }
    #sg-carousel .carousel-inner .item {
      height: 90vh; } }

.busca.carousel-caption {
  top: 50vh;
  text-align: left;
  margin-left: 10.5%; }
  @media (max-width: 1199px) {
    .busca.carousel-caption {
      margin-left: 8%; } }
  @media (max-width: 991px) {
    .busca.carousel-caption {
      margin-left: 6.9%;
      top: 52vh; } }
  @media (max-width: 767px) {
    .busca.carousel-caption {
      position: relative;
      top: 0;
      border-bottom: 1px solid #bcbcbc;
      margin-left: 0; }
      .busca.carousel-caption label {
        color: #929292;
        text-shadow: none;
        font-size: 13px; }
      .busca.carousel-caption select, .busca.carousel-caption input {
        border: 1px solid #bcbcbc; } }

@media (max-width: 767px) {
  .button--tamaya {
    color: #1f2055 !important; } }

footer {
  background-color: #1f2055; }
  footer .footer-address {
    padding: 25px 0; }
  footer .tripAdvisor {
    background-color: #282960;
    padding: 15px 0; }
    footer .tripAdvisor .row {
      display: flex;
      align-items: center; }
    footer .tripAdvisor img {
      display: inline-block;
      width: 126px;
      height: auto; }
  footer h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans';
    display: inline-block;
    font-size: 16px; }
  footer p {
    color: #fff;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-size: 13px; }
    footer p.p-title {
      color: #c0c2f6;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 5px; }
      footer p.p-title i {
        font-size: 18px;
        margin-right: 6px; }
    footer p i.social {
      font-size: 16px; }
    footer p .fone-f {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Open Sans'; }
  footer strong {
    color: #fff;
    font-size: 22px;
    font-family: 'Open Sans'; }
    @media (max-width: 767px) {
      footer strong {
        font-size: 13px; } }
  footer a {
    color: #fff; }
  footer .signature {
    padding: 10px 0; }

/* -----------------------------------------------------------------------------
 * PAGES
 * -------------------------------------------------------------------------- */
body {
  font-family: 'Open Sans';
  background-color: #fff; }

h1 {
  color: #fff;
  font-weight: 700;
  font-family: 'Open Sans';
  font-size: 42px;
  text-transform: uppercase;
  text-align: center; }

h2 {
  color: #606060;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 38px; }
  @media (max-width: 767px) {
    h2 {
      font-size: 28px; } }

p {
  color: #606060;
  line-height: 23px; }

strong {
  color: #606060;
  text-transform: uppercase; }

a {
  color: #1f2055; }
  a:focus {
    color: #1f2055;
    text-decoration: none;
    outline: 0; }
  a:active {
    outline: 0; }

/*chevron slick slider*/
@media only screen and (max-width: 550px) {
  .slick-prev {
    left: 0; } }

@media only screen and (max-width: 550px) {
  .slick-next {
    right: 0; } }

.slick-prev:before {
  content: "\f053";
  height: 100%;
  width: 100%;
  font-family: FontAwesome;
  font-size: 38px;
  color: #c3c3c3; }

.slick-next:before {
  content: "\f054";
  height: 100%;
  width: 100%;
  font-family: FontAwesome;
  font-size: 38px;
  color: #c3c3c3; }

.slick-dots {
  margin-bottom: 30px; }
  .slick-dots li.slick-active button:before {
    font-size: 12px;
    color: #282960; }
  .slick-dots li button:before {
    color: #636363;
    font-size: 12px; }

form label {
  text-transform: uppercase; }
form .form-control {
  border-radius: 0;
  border: 2px solid #c7c7c7; }
  form .form-control.input-g {
    height: 52px; }
  form .form-control.input-gg {
    height: 66px; }
form .col-md-3, form .col-md-2, form .col-md-1 {
  padding-left: 7px;
  padding-right: 7px; }

select.browser-default {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  cursor: pointer;
  background: #fff url(../images/select-arrow.png) calc(100% - 12px) 50% no-repeat;
  background-size: 14px;
  border-radius: 0;
  text-transform: uppercase;
  outline: none;
  width: 100%;
  font-size: 13px;
  padding: 1.6rem;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .3s;
  color: #6c6c6c; }

.line {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc; }

.float-reserva, .float-reserva-r {
  background-color: #dfdfdf;
  padding-top: 15px;
  position: relative; }
@media only screen and (min-width: 1200px) {
 .float-reserva form, .float-reserva-r form {
   margin-left: 55px;
 }
}
  .float-reserva form label, .float-reserva-r form label {
    color: #606060;
    font-size: 12px; }
  .float-reserva form .form-group, .float-reserva-r form .form-group {
    margin-bottom: 15px; }
  .float-reserva form .form-control, .float-reserva-r form .form-control {
    border: 0; }
  .float-reserva .float-reserva_button, .float-reserva-r .float-reserva_button {
    background-color: #282960;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    padding: 15px 30px; }

/*mensagem submit form*/
.sucesso {
  margin: 55px 0; }
  .sucesso h3 {
    color: #282960; }
  .sucesso h4 {
    color: #1f2055; }

.enviando {
  margin: 55px 0; }
  .enviando h3 {
    color: #282960; }
  .enviando h4 {
    color: #1f2055; }

.faa-horizontal.animated {
  animation: none; }

.unidades {
  text-align: center;
  margin: 30px 0; }
  .unidades a {
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px; }
    .unidades a:hover {
      text-decoration: none; }
      .unidades a:hover .faa-horizontal.animated {
        -webkit-animation: horizontal 2s ease infinite;
        animation: horizontal 2s ease infinite; }
      .unidades a:hover .hotel-overlay {
        opacity: 0.7; }
      .unidades a:hover .hotel-overlay_text {
        opacity: 1; }
    .unidades a:focus {
      text-decoration: none; }
      .unidades a:focus .img-overlay {
        opacity: 0.7; }
    .unidades a img {
      border-radius: 50%;
      width: 255px;
      height: 255px;
      position: relative;
      margin: 6px auto 15px auto; }
    .unidades a .hotel-overlay {
      position: absolute;
      height: 255px;
      width: 255px;
      opacity: 0;
      top: 5px;
      left: 50%;
      transform: translate(-50%);
      overflow: hidden;
      transition: .5s ease;
      box-shadow: inset 0 0 0 128px rgba(40, 41, 96, 0.8), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      cursor: pointer; }
      @media (max-width: 1199px) {
        .unidades a .hotel-overlay {
          width: 206px; } }
      @media (max-width: 991px) {
        .unidades a .hotel-overlay {
          width: 210px; } }
      @media only screen and (max-width: 840px) {
        .unidades a .hotel-overlay {
          width: 255px; } }
      @media (max-width: 767px) {
        .unidades a .hotel-overlay {
          display: none; } }
    .unidades a .hotel-overlay_text {
      color: #fff;
      font-size: 14px;
      font-family: 'Open Sans';
      position: absolute;
      top: 43%;
      padding: 18px;
      opacity: 0;
      transform: translate(-50%, -50%);
      left: 50%;
      -ms-transform: translateY(-50%);
      text-align: center;
      width: 230px; }
      .unidades a .hotel-overlay_text p {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        letter-spacing: 2px;
        font-size: 18px;
        font-family: 'Open Sans', Arial, sans-serif;
        text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        opacity: 1; }
      @media (max-width: 767px) {
        .unidades a .hotel-overlay_text {
          display: none; } }
    .unidades a p {
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: 10px;
      text-transform: uppercase; }

.about .row {
  display: flex;
  align-items: center;
  margin: 30px 0;
  flex-wrap: wrap; }
  .about .row .about_text {
    padding-right: 40px;
    text-align: justify; }
    @media (max-width: 991px) {
      .about .row .about_text {
        text-align: left;
        padding-right: 15px; } }
  .about .row p {
    color: #777;
    font-size: 16px; }
  .about .row .about_border {
    border-left: 1px solid #dcdcdc;
    padding-left: 40px; }
    @media (max-width: 991px) {
      .about .row .about_border {
        border: 0;
        padding-left: 15px; } }

h3 {
  font-size: 22px;
  color: #828282;
  font-weight: 700;
  font-family: 'Open Sans';
  text-transform: uppercase; }

.seal-tripAdvisor {
  background-color: #eaeaea;
  padding: 20px;
  margin-bottom: 30px; }
  .seal-tripAdvisor .seal-tripAdvisor_flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .seal-tripAdvisor .seal-tripAdvisor_flex .img_border {
      border-right: 1px solid #bebebe; }
      @media (max-width: 991px) {
        .seal-tripAdvisor .seal-tripAdvisor_flex .img_border {
          border: 0;
          text-align: center;
          margin-bottom: 15px; } }
      .seal-tripAdvisor .seal-tripAdvisor_flex .img_border h3 {
        display: inline-block;
        color: #646464; }
      .seal-tripAdvisor .seal-tripAdvisor_flex .img_border img {
        display: inline-block; }
        @media (max-width: 1199px) {
          .seal-tripAdvisor .seal-tripAdvisor_flex .img_border img {
            width: 110px; } }
    .seal-tripAdvisor .seal-tripAdvisor_flex p {
      font-size: 18px; }
      @media (max-width: 1199px) {
        .seal-tripAdvisor .seal-tripAdvisor_flex p {
          font-size: 16px; } }
      @media (max-width: 991px) {
        .seal-tripAdvisor .seal-tripAdvisor_flex p {
          text-align: center;
          font-size: 15px;
          padding: 0 20px; } }
      @media (max-width: 480px) {
        .seal-tripAdvisor .seal-tripAdvisor_flex p {
          padding: 0; } }

.form-trabalhe .col-md-6,
.form-trabalhe .col-md-12 {
  padding-right: 8px;
  padding-left: 7px;
  position: initial; }

.form-trabalhe {
  margin-top: 35px;
  margin-bottom: 35px; }
  .form-trabalhe .button-form {
    padding: 1.3em 7em;
    font-weight: 700;
    color: #fff;
    background-color: #282960;
    text-transform: uppercase;
    border: 2px solid #282960; }
    @media (max-width: 767px) {
      .form-trabalhe .button-form {
        padding: 1.3em 4em; } }
    .form-trabalhe .button-form:hover {
      background-color: #fff;
      color: #282960;
      border: 2px solid #282960;
      transition: ease 1s; }
  .form-trabalhe .bootstrap-filestyle.input-group {
    display: block; }
  .form-trabalhe .bootstrap-filestyle input.form-control {
    position: relative;
    height: 66px;
    width: 100%;
    margin-bottom: 15px; }
    @media (max-width: 480px) {
      .form-trabalhe .bootstrap-filestyle input.form-control {
        font-size: 12px; } }
  .form-trabalhe .bootstrap-filestyle .button-file {
    position: absolute;
    right: 11px;
    top: 8px;
    padding: 13px; }
  .form-trabalhe .button-file {
    background-color: #282960;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0; }
  .form-trabalhe .form-control[disabled],
  .form-trabalhe .form-control[readonly],
  .form-trabalhe fieldset[disabled] .form-control {
    background-color: #fff; }
  .form-trabalhe .input-group-btn {
    position: initial; }

#myCarousel .item {
  max-height: 615px;
  min-height: auto;
  overflow: hidden;
}
@media (max-width: 767px) {
    #myCarousel .item {
      height: 265px;
      overflow:hidden; } }
#myCarousel .item img {
 height: auto;
  min-height: 265px;
  width: 100%; }
#myCarousel .item .carousel-caption {
  right: 20%;
  left: 20%;
  top: 50%;
  transform: translateY(-50%); }
  #myCarousel .item .carousel-caption p {
    color: #fff;
    font-size: 32px;
    line-height: 1; }
    @media (max-width: 767px) {
      #myCarousel .item .carousel-caption p {
        font-size: 18px; } }
  @media (max-width: 767px) {
    #myCarousel .item .carousel-caption h1 {
      font-size: 28px; } }

.hotel .name_hotel {
  color: #606060;
  margin: 40px 0; }
  @media (max-width: 991px) {
    .hotel .name_hotel {
      font-size: 28px; } }
.hotel ul.nav_hotel {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; }
  @media (max-width: 767px) {
    .hotel ul.nav_hotel {
      padding: 11px 0 3px 0; } }
  .hotel ul.nav_hotel.scroll-to-fixed-fixed {
    background-color: #1f2055;
    border: 0; }
    .hotel ul.nav_hotel.scroll-to-fixed-fixed li {
      border-color: #fff; }
      @media (max-width: 767px) {
        .hotel ul.nav_hotel.scroll-to-fixed-fixed li {
          padding-bottom: 5px; } }
      .hotel ul.nav_hotel.scroll-to-fixed-fixed li a {
        color: #fff; }
        .hotel ul.nav_hotel.scroll-to-fixed-fixed li a:hover {
          color: #fff;
          border-bottom: 2px solid #fff; }
        .hotel ul.nav_hotel.scroll-to-fixed-fixed li a.active {
          border-bottom: 2px solid #fff;
          color: #fff; }
  .hotel ul.nav_hotel .active {
    border-bottom: 2px solid #fff;
    color: #fff; }
  .hotel ul.nav_hotel li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans';
    color: #606060;
    border-right: 2px solid #606060;
    margin-right: 40px;
    padding-right: 40px; }
    .hotel ul.nav_hotel li:last-child {
      border-right: none; }
    @media (max-width: 991px) {
      .hotel ul.nav_hotel li:nth-child(4) {
        border-right: 0; } }
    @media (max-width: 767px) {
      .hotel ul.nav_hotel li {
        border: 0;
        padding: 0;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 574px) {
      .hotel ul.nav_hotel li {
        border: 0;
        padding: 0;
        margin-bottom: 10px;
        width: 49%;
        margin-right: 0; } }
    .hotel ul.nav_hotel li a {
      color: #606060;
      text-decoration: none;
      cursor: pointer;
      padding: 6px; }
      .hotel ul.nav_hotel li a:hover {
        color: #282960;
        border-bottom: 2px solid #282960; }
      .hotel ul.nav_hotel li a.active {
        border-bottom: 2px solid #282960;
        color: #282960; }

.about_hotel p {
  font-size: 16px;
  text-align: center; }
.about_hotel .info-hotel {
  margin: 35px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  @media (max-width: 991px) {
    .about_hotel .info-hotel {
      text-align: center; } }
  .about_hotel .info-hotel .check {
    font-family: 'Open Sans';
    color: #1f2055;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #282960;
    padding: 10px 0; }
    @media (max-width: 767px) {
      .about_hotel .info-hotel .check {
        border: 0;
        margin-bottom: 10px; } }
    @media (max-width: 480px) {
      .about_hotel .info-hotel .check {
        font-size: 13px;
        border: 0; } }
    .about_hotel .info-hotel .check i {
      font-size: 18px;
      margin: 0 10px; }
      .about_hotel .info-hotel .check i:first-child {
        margin-left: 0; }
  @media (max-width: 991px) {
    .about_hotel .info-hotel .h-reserva {
      margin-bottom: 10px; } }
  .about_hotel .info-hotel .h-reserva p {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: #282960; }
    @media (max-width: 991px) {
      .about_hotel .info-hotel .h-reserva p {
        font-size: 16px; } }
    .about_hotel .info-hotel .h-reserva p i {
      color: #282960; }
    .about_hotel .info-hotel .h-reserva p strong {
      font-size: 23px; }
      @media (max-width: 480px) {
        .about_hotel .info-hotel .h-reserva p strong {
          font-size: 20px; } }
  .about_hotel .info-hotel .button-hotel_reserva, .about_hotel .info-hotel .button-hotel_360 {
    color: #fff;
    background-color: #282960;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 15px 75px;
    border: 0; }
    @media (max-width: 1199px) {
      .about_hotel .info-hotel .button-hotel_reserva, .about_hotel .info-hotel .button-hotel_360 {
        padding: 15px 58px; } }
    @media (max-width: 480px) {
      .about_hotel .info-hotel .button-hotel_reserva, .about_hotel .info-hotel .button-hotel_360 {
        padding: 15px 17px; } }
    .about_hotel .info-hotel .button-hotel_reserva:hover, .about_hotel .info-hotel .button-hotel_360:hover {
      background-color: #4d4e86;
      transition: ease 1s; }
.about_hotel .hotel-gallery {
  margin-bottom: 40px; }
  .about_hotel .hotel-gallery .slick-slide { 
    position: relative;
    height: 230px;
    overflow: hidden;
  }
  .about_hotel .hotel-gallery img {
    min-height: 230px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 340px;
    margin: 0 auto; }
  .about_hotel .hotel-gallery .slick-dots {
    margin-bottom: 0;
    position: relative; }
.about_hotel .map-hotel iframe {
  width: 100%;
  display: block;
  pointer-events: none;
  position: relative;
  /* IE needs a position other than static */ }
.about_hotel .map-hotel iframe.clicked {
  pointer-events: auto; }

.hotel-Advisor {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  @media (max-width: 991px) {
    .hotel-Advisor {
      text-align: center; } }
  .hotel-Advisor img {
    display: inline-block; }
  .hotel-Advisor h3 {
    display: inline-block; }
  .hotel-Advisor p {
    font-size: 17px; }
    @media (max-width: 991px) {
      .hotel-Advisor p {
        margin-top: 20px; } }

.acomodacao .room-gallery {
  margin: 40px 0;
 }
 .acomodacao .room-gallery .slick-slide {
    height: 585px;
    overflow: hidden;
  }
  .acomodacao .room-gallery img {
    max-height: 230px;
    height: 230px;
    width: 350px;
    margin: 0 auto; }
  .acomodacao .room-gallery .slick-dots {
    margin-bottom: 0; }
  .acomodacao .room-gallery h3 {
    color: #606060;
    font-size: 24px; }
  .acomodacao .room-gallery li {
    list-style: none;
    color: #606060;
    font-size: 16px;
    font-family: 'Open Sans'; }
    .acomodacao .room-gallery li i {
      color: #1f2055;
      margin-right: 10px; }
  .acomodacao .room-gallery .room-btn {
    background-color: #1f2055;
    width: 100%;
    border: 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    width: 100%; }
    .acomodacao .room-gallery .room-btn a {
      color: #fff; }
      .acomodacao .room-gallery .room-btn a:hover {
        text-decoration: none; }
    .acomodacao .room-gallery .room-btn:hover {
      background-color: #797bb1;
      transition: ease 1s; }
  .acomodacao .room-gallery .slick-dots {
    margin-bottom: 0; position: relative;}

.gastronomia {
  background-color: #ebebeb; }
  .gastronomia p {
    text-align: center;
    font-size: 16px; }
  .gastronomia .gastronomy-gallery {
    margin: 40px 0; }
   .gastronomia .gastronomy-gallery .slick-slide {
	height: 230px;
	overflow: hidden;
        position: relative;
    }
    .gastronomia .gastronomy-gallery img {
      min-height: 230px;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: 340px;
      margin: 0 auto; }
    .gastronomia .gastronomy-gallery .slick-dots {
      margin-bottom: 0; position: relative;}

.eventos .event-gallery {
  margin: 40px 0; }
   .eventos .event-gallery .slick-slide {
   	height: 230px;
 	overflow: hidden;
        position: relative;
   }
  .eventos .event-gallery .slick-slide img {
    min-height: 230px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 340px;
    margin: 0 auto; }
  .eventos .event-gallery .slick-dots {
    margin-bottom: 0; position: relative; }
.eventos p {
  text-align: center;
  font-size: 16px; }
.eventos h3 {
  color: #606060;
  text-align: center; }
.eventos table {
  width: 75%;
  max-width: 75%;
  margin: 20px auto; }
  @media (max-width: 767px) {
    .eventos table {
      margin: 0 auto; } }
  .eventos table thead {
    background-color: #dcdcdc; }
  .eventos table th {
    text-transform: uppercase;
    color: #606060;
    text-align: center; }
  .eventos table tbody {
    border-bottom: 1px solid #dcdcdc; }
    .eventos table tbody tr th {
      font-weight: 400; }

.button-hide-form {
  color: #fff;
  background-color: #282960;
  border-radius: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 75px;
  border: 0;
  margin-bottom: 20px; }
  @media (max-width: 1199px) {
    .button-hide-form {
      padding: 15px 58px; } }
  @media (max-width: 480px) {
    .button-hide-form {
      padding: 15px 17px; } }
  .button-hide-form:hover {
    background-color: #4d4e86;
    transition: ease 1s; }

.orcamento {
  background-color: #dcdcdc;
  text-align: center; }
  .orcamento .form-trabalhe {
    margin-top: 0; }
  .orcamento strong {
    font-size: 16px; }
    .orcamento strong i {
      font-size: 20px; }
  .orcamento p {
    font-size: 18px; }
  .orcamento .fone {
    font-size: 26px; }

  #swipebox-slider .slide img {max-height: calc(100% - 100px);}

/*# sourceMappingURL=style.css.map */
